name: pkgdown

on:
  push: {branches: [main, master]}
  release: {types: [published]}
  workflow_dispatch:

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: ai
          extra-packages: any::pkgdown
          needs: website

      - name: Build site
        working-directory: ai
        run: Rscript -e 'pkgdown::build_site_github_pages(new_process = FALSE, install = TRUE)'

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ai/docs

  deploy:
    needs: pkgdown
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
